sandbox/*
!sandbox/.gitkeep
results/*
!results/.gitkeep
data/LogisticGrowthDataBaranyi.csv
data/LogisticGrowthDataClean.csv
data/LogisticGrowthDataCubic.csv
data/LogisticGrowthDataGompertz.csv
data/LogisticGrowthDataLogistic.csv
data/LogisticGrowthDataQuadratic.csv
data/LogisticGrowthDataStatistic.csv
code/.RData
code/.Rhistory
code/miniproject.bcf
code/miniproject.run.xml
code/miniproject.toc
code/Rplots.pdf

